# Data folder
.data

# OS files
.DS_Store

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of go coverage
*.out

# Output of fresh
tmp/*

# Output of delve test debugger
debug
debug.test

# Govendor
vendor/*/
